########################################
# ENVIRONNEMENT VIRTUEL PYTHON
########################################
venv/
.Python

########################################
# FICHIERS COMPILÉS PAR PYTHON
########################################
__pycache__/
*.py[cod]
*$py.class
*.so

########################################
# FICHIERS DE BUILD / DISTRIBUTION
########################################
build/
dist/
downloads/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

########################################
# DONNÉES ET MODÈLES GÉRÉS PAR DVC
########################################
# Ignorer tous les fichiers dans /data et /models,
# sauf les dossiers et fichiers .dvc nécessaires à DVC
data/**
!data/
!data/**/*.dvc
!data/raw/
!data/processed/

models/**
!models/
!models/**/*.dvc

# Clé de service pour DVC GCP
dvc.json

########################################
# FICHIERS DE DATASETS À NE PAS SUIVRE
########################################
/test.csv
/train.csv

########################################
# LOGS ET OUTILS DE MONITORING
########################################
logs/
.mlflow/

########################################
# FICHIERS D'ENVIRONNEMENT ET SECRETS
########################################
# Décommentez si vous utilisez .env
# .env

########################################
# 🔹 CONFIGURATION DES IDES
########################################
.idea/
.vscode/

