# --------------------------
# ENVIRONNEMENT VIRTUEL
# --------------------------
venv/
.venv/

# --------------------------
# FICHIERS PYTHON
# --------------------------
__pycache__/
*.py[cod]
*$py.class
.Python

# --------------------------
# FICHIERS DE BUILD
# --------------------------
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --------------------------
# DONNÉES ET MODÈLES (Gérés par DVC)
# --------------------------
data/**
!data/**/*.dvc
models/**
!models/**/*.dvc

# --------------------------
# LOGS ET MONITORING
# --------------------------
logs/
.mlflow/

# --------------------------
# CONFIGURATION ET ENV
# --------------------------
.env
*.env

# --------------------------
# DOSSIERS D'ENVIRONNEMENTS DE TRAVAIL (IDE)
# --------------------------
.vscode/
.idea/

# --------------------------
# FICHIERS TEMPORAIRES
# --------------------------
.DS_Store
Thumbs.db
